[submodule "Map"]
	path = Map
	url = https://github.com/sarang628/Map.git
[submodule "TorangLocationService"]
	path = TorangLocationService
	url = https://github.com/sarang628/TorangLocationService.git
[submodule "Repository"]
	path = Repository
	url = https://github.com/sarang628/Repository.git
[submodule "TorangCore"]
	path = TorangCore
	url = https://github.com/sarang628/TorangCore.git
